@import '../../palette';
@import '../../globals';

#blogList {
    & > ul {
        list-style: none;
        padding: unset;

        & > li.post {
            background-color: get-color('foreground');
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            padding: 10px;
            margin-bottom: 10px;
            cursor: pointer;

            & h2 {
                margin-top: 0;
            }

            & .snippet {
                word-wrap: break-word;
            }

            & .posted {
                text-align: right;
            }

            &:hover {
                transition: $hover-animation;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
            }
        }
    }
}
