$default-palette: (
    'primary': #263238,
    'secondary': #f50057,
    'foreground': #ffffff,
    'background': #ffffff
);

$text-palette: (
    'primary': #ffffff,
    'secondary': #000000,
    'foreground': #000000,
    'background': #000000
);

$light-palette: (
    'primary': #4f5b62,
    'secondary': #ff5983
);

$dark-palette: (
    'primary': #000a12,
    'secondary': #bb002f
);

@function get-color($color-name: 'primary', $color-palette: $default-palette) {
    @return map-get($map: $color-palette, $key: $color-name);
}
