$default-palette: (
    'primary': #00b96c,
    'secondary': #b9004d,
    'tertiary': #0079ca,
    'foreground': #f5f5f5,
    'background': #e6e6e6,
    'accent': #202020
);

@function lighter-color($color-name: 'primary', $level: 0, $color-palette: $default-palette) {
    $color: map-get($map: $color-palette, $key: $color-name);
    @return mix(white, $color, $level * 10%);
}

@function darker-color($color-name: 'primary', $level: 0, $color-palette: $default-palette) {
    $color: map-get($map: $color-palette, $key: $color-name);
    @return mix(black, $color, $level * 10%);
}

@function get-color($color-name: 'primary', $color-palette: $default-palette) {
    @return map-get($map: $color-palette, $key: $color-name);
}
