@import 'palette';
@import 'globals';

body {
    background-color: get-color('background');
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    color: get-color('background', $text-palette);
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: get-color('primary');
    width: 100%;
    font-size: font-size('medium');
    user-select: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);

    & > a {
        color: get-color('foreground');
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition: $hover-animation;

        &:hover, &.selected {
            background-color: get-color('primary', $light-palette);
        }

        &#brandLogo:hover , &#brandLogo.selected{
            background-color: get-color('secondary');
            color: get-color('secondary', $text-palette);
        }

    }
}

main {
    margin: 60px 0px 10px;
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: get-color('primary', $light-palette);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    padding: 25px 35px;
    color: get-color('primary', $text-palette);
    display: flex;

    & > .footer-right {
        flex: 1;
        text-align: right;
        & > a {
            display: inline-block;
            width: 35px;
            height: 35px;
            color: get-color('primary', $text-palette);
            border-radius: 2px;
            font-size: font-size('large');
            text-align: center;
            line-height: 35px;
            margin-left: 3px;
            text-decoration: none;
            transition: $hover-animation;

            &:hover {
                background-color: get-color('primary');
                color: get-color('secondary', $light-palette);
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            }
        }
    }

    & > .footer-left {
        flex: 3;
        text-align: left;
        & > p {
            color: get-color('primary', $text-palette);
            font-size: font-size('medium');
            margin: 0;
        }
    }
}

.row {
    display: flex;
    flex-flow: row wrap;

    &.small {
        flex: 1;
    }

    &.medium {
        flex: 2;
    }

    &.large {
        flex: 3;
    }
}

.column {
    display: flex;
    flex-flow: column wrap;

    &.small {
        flex: 1;
    }

    &.medium {
        flex: 2;
    }

    &.large {
        flex: 3;
    }
}

@media (min-width:960px) {
    nav {
        padding-left: 10%;
        padding-right: 10%;
    }
    main {
        padding-left: 10%;
        padding-right: 10%;
    }
    footer {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width:959px) {
    main {
        padding-left: 10px;
        padding-right: 10px;
    }
}