@import 'palette';
@import 'globals';

body {
    background-color: get-color('background');
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: get-color('accent');
    width: 100%;
    font-size: font-size('medium');
    user-select: none;

    & > a {
        color: get-color('foreground');
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition: $hover-animation;

        &:hover {
            background-color: lighter-color('accent', 0.5);
        }

        & > selected {
            background-color: lighter-color('accent', 1);
        }
    }
}

main {
    margin-top: 60px;
    flex: 1 0 auto;
    width: 100%;
}

footer {
    flex-shrink: 0;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: lighter-color('accent', 0.5);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    padding: 25px 35px;
    color: get-color('foreground');
    display: flex;

    & > .footer-right {
        flex: 1;
        text-align: right;
        & > a {
            display: inline-block;
            width: 35px;
            height: 35px;
            color: get-color('foreground');
            background-color: lighter-color('accent', 1);
            border-radius: 2px;
            font-size: font-size('large');
            text-align: center;
            line-height: 35px;
            margin-left: 3px;
            text-decoration: none;
            transition: $hover-animation;

            &:hover {
                background-color: lighter-color('accent', 1.5);
            }
        }
    }

    & > .footer-left {
        flex: 3;
        text-align: left;
        & > p {
            color: darker-color('foreground', 2);
            font-size: font-size('medium');
            margin: 0;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;

    &.small {
        flex: 1;
    }

    &.medium {
        flex: 2;
    }

    &.large {
        flex: 3;
    }
}

.column {
    display: flex;
    flex-direction: column;

    &.small {
        flex: 1;
    }

    &.medium {
        flex: 2;
    }

    &.large {
        flex: 3;
    }
}